<mat-card class="new-ref-card">
  <mat-card-content class="inputs-container">
    <form [formGroup]="detailsForm">
      <div class="referral-details">
        <mat-form-field appearance="fill" class="longer-input">
          <mat-label>Reason</mat-label>
          <input formControlName="reason" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="longer-input">
          <mat-label>Reason Details</mat-label>
          <textarea formControlName="details" matInput></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" class="longer-input">
          <mat-label>History Details</mat-label>
          <textarea formControlName="history" matInput></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="existingApt">Existing Appointment</mat-checkbox>
        <mat-checkbox formControlName="callBefore">Call doctor before treatment</mat-checkbox>
      </div>
    </form>
  </mat-card-content>
</mat-card>
