<mat-card class="new-ref-card">
  <mat-card-content class="inputs-container">
    <div class="referral-details">
      <!--        Referral Details-->
      <mat-form-field appearance="fill" class="longer-input">
        <mat-label>Reason</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="longer-input">
        <mat-label>Reason Details</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" class="longer-input">
        <mat-label>History Details</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <mat-checkbox>Existing Appointment</mat-checkbox>
      <mat-checkbox>Call doctor before treatment</mat-checkbox>
    </div>
    <div class="submit-button">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </mat-card-content>
</mat-card>
