<mat-card class="new-ref-card">
  <form [formGroup]="patientForm">
    <mat-card-content class="inputs-container">
      <div class="patient-details">
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input formControlName="patientFname" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input formControlName="patientLname" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>DOB</mat-label>
          <input formControlName="dob" type="date" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="long-input">
          <mat-label>Guardian *optional</mat-label>
          <input formControlName="guardian" matInput>
        </mat-form-field>
      </div>
      <div class="patient-contact">
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input formControlName="patientPhone" type="text" mask="(000) 000-0000" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="long-input">
          <mat-label>Email</mat-label>
          <input formControlName="patientEmail" type="email" matInput>
        </mat-form-field>
      </div>
      <div class="address-details">
        <mat-form-field appearance="fill" class="long-input">
          <mat-label>Address</mat-label>
          <input formControlName="patientAddress" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="long-input">
          <mat-label>Address 2 *optional</mat-label>
          <input formControlName="patientAddressOpt" matInput>
        </mat-form-field>
      </div>
      <div class="address-details2">
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input formControlName="city" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>State</mat-label>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let state of US_STATES" [value]="state">{{state}}</mat-option>
          </mat-autocomplete>
          <input formControlName="state"
                 type="text"
                 aria-label="String"
                 maxlength="2"
                 matInput
                 onfocusout="this.value = this.value.toUpperCase()"
                 [matAutocomplete]="auto">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Zipcode</mat-label>
          <input formControlName="zipcode" matInput>
        </mat-form-field>
      </div>
    </mat-card-content>
  </form>
</mat-card>
