<div class="view-container">
  <mat-card-title class="page-title">Active Referral Lookup</mat-card-title>
  <mat-card>
    <mat-card-header class="header-sections"></mat-card-header>
    <mat-card-content class="content-container">
      <div>
        <!--      Name-->
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>DOB</mat-label>
          <input type="date"
                 matInput>
        </mat-form-field>
        <!--      Phone-->
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input type="text"
                 mask="(000) 000-0000"
                 matInput>
        </mat-form-field>
        <!--      Home Doc-->
        <mat-form-field appearance="fill">
          <mat-label>Referring Doctor</mat-label>
          <mat-select>
            <mat-option *ngFor="let name of HOME_OFFICE_DR" [value]="name">{{name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!--      Referred Doc-->
        <mat-form-field appearance="fill">
          <mat-label>Referred Doctor</mat-label>
          <mat-select>
            <mat-option *ngFor="let name of REFERRED_DR" [value]="name">{{name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="patientFirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First </th>
            <td mat-cell *matCellDef="let element"> {{element.patientFirstName}} </td>
          </ng-container>
          <ng-container matColumnDef="patientLastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last </th>
            <td mat-cell *matCellDef="let element"> {{element.patientLastName}} </td>
          </ng-container>
          <ng-container matColumnDef="DOB">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
            <td mat-cell *matCellDef="let element"> {{element.DOB | date: 'dd/MM/YYYY'}} </td>
          </ng-container>
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/YYYY'}} </td>
          </ng-container>
          <ng-container matColumnDef="referringDoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referring Doctor </th>
            <td mat-cell *matCellDef="let element"> {{element.referringDoc}} </td>
          </ng-container>
          <ng-container matColumnDef="referredDoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Referred Doctor </th>
            <td mat-cell *matCellDef="let element"> {{element.referredDoc}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>

