<div class="view-container">
  <mat-card-title>{{REFERRAL_FORM}}</mat-card-title>
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <mat-step [stepControl]="newRefForm">
      <ng-template matStepLabel>Office Details</ng-template>
      <app-new-office-details></app-new-office-details>
    </mat-step>
    <mat-step [stepControl]="newRefForm">
      <ng-template matStepLabel>Patient Details</ng-template>
      <app-new-patient-details></app-new-patient-details>
    </mat-step>
    <mat-step [stepControl]="newRefForm">
      <ng-template matStepLabel>Referral Details</ng-template>
      <app-new-referral-details></app-new-referral-details>
    </mat-step>
  </mat-stepper>
</div>
