/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header-sections {
  background-color: #1976d2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header-titles {
  font-size: 32px;
  font-family: Helvetica, serif;
  color: #ffffff;
}

mat-tab {
  height: 100%;
}

mat-card-title {
  font-size: 2em;
}
